.role-Manager {
    color:white;
    background-color: brown;
}

.role-Employee {
    color:white;
    background-color: midnightblue;
}

.role-Trainee {
    color:white;
    background-color: grey;
}

.Role{
    float:left;
}

ul{
    padding-left: 5px;
    list-style-type: none;
}

li{
    height: 35px;
    padding:2px;
    margin:3px;
}